* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(205, 230, 243);
}

.logo {
    margin-top: 20px;
}

.header {
    padding: 25px 0;
    background-color: rgba(209, 224, 227, 0.75);
}

#contacts {

    background-color: rgba(209, 224, 227, 0.75);

}

.products__list__shirt img {
    width: 450px;
    height: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.products__list__shirt {
    float: left;
    padding: 10px;

}

#products {
    overflow: hidden;

}


h1 {
    color: rgba(27, 26, 53, 0.992);
}


h2 {
    text-align: center;
    color: rgba(27, 26, 53, 0.992);
}

.description__text {
    text-align: justify;
    padding: 50px 50px 50px 50px;
}

.animation img {
    width: 1000px;
    height: 600px;
}

.animation {
    padding: 80px 100px 100px 250px;

}